@import "tailwindcss";

body{
    background-color: #1e1e2e;
    font-family: "Courier New", monospace;
}

h1{
    color: #cdd6f4;
    font-weight: bold;
    
}

h2{
  color: #689bec;
}

body{
    color: #c3c9d5;
    text-align: justify;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #0f172a;
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #cdd6f4;
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #689bec;
}

::selection {
  background-color: #689bec; /* highlight */
  color: #1e1e2e;           /* text color */
}

/*
light blue: #cdd6f4
bright blue: #689bec
deep blue: #1e1e2e
grey: #c3c9d5
*/


